body {
    background-color: #FFF9EB;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.brand_name {
    font-weight: bolder;
    color: #ff9e00;
    margin: 10px;
    letter-spacing: 7px;
}

.message {
    color: #ff9e00;
    margin: 0;
}