body {
    background-color:white;
}

#container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.brand_name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #ff9e00;
}

.message {
    color: #ff9e00;
    font-family: sans-serif;
}